<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stiles.css">
    <style>
         footer{
            margin-top: 40px; !important;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <header th:replace="commons :: header"></header>

    <main class="content">
        <div class="container mt-4">
            <h2 class="center-text ">Admin Login</h2>
            <form action="/admin/login" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="center-text">
                    <button class="btn btn btn-primary w-50 center-text" type="button">login</button>
                </div>            </form>
        </div>
    </main>

    <footer th:replace="commons :: footer"></footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
</body>
</html>
