<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"     >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stiles.css">
    <style>
         footer{
            margin-top: 40px; !important;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <header th:replace="commons :: header"></header>

    <main class="container mt-4 content">
        <div th:if="${authenticatedUser == null}">

        <div class="container mt-4">
            <h2 class="center-text ">Admin Login</h2>
            <form th:action="@{/adminLogin}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <div class="center-text">
                    <p th:if="${loginError}" class="error">Wrong username or password, try again</p>
                    <button class="btn btn btn-primary w-50 center-text" type="submit">login</button>
                </div>
            </form>
        </div>
        </div>
        <div th:if="${authenticatedUser != null}">
            <div class="container mt-4">
                <h2 class="center-text">You are logged as: <span th:text="${authenticatedUser}">Bob</span> log out</h2>
                <form th:action="@{/adminLogin/logout}" method="post">
                    <div class="center-text">
                        <button class="btn btn-primary w-50" type="submit">Log out</button>
                    </div>
                </form>
            </div>
        </div>

    </main>

    <footer th:replace="commons :: footer"></footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
</body>
</html>
