<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stiles.css">
    <style>
        .content img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
         footer{
            margin-top: 40px; !important;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <header th:replace="commons :: header"></header>

    <main class="container mt-4 content">

        <img th:src="@{/images/home_image.jpeg}" alt="Home page image">
        <h1>Ride the Wave with Us</h1>
        <p>Welcome to Mayas Surfboards, your ultimate destination for high-quality surfboards designed to elevate your surfing experience. At WaveCraft, we believe that every surfer deserves a board that not only meets their needs but also fuels their passion for the sport. Whether you’re a seasoned pro or just catching your first wave, we have something special for you.
        <p>Discover our catalogue!</p>
    </main>

    <footer th:replace="commons :: footer"></footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
</body>
</html>
